.col-12 {
  min-height: 465px !important;
  max-width: 600px;
}
.the-h {
  min-height: 82.9vh !important;
}
@media (max-width: 991px) {
  .col-12 {
    border-left: none !important;
  }
}
@media (min-width: 991px) {
  .col-img {
    border: none !important;
  }
}
img {
  width: 100% !important;
}
.form-check-input {
  cursor: pointer !important;
}
